/* .authority_wrap{
    position: relative;
} */
.nav_item{
    padding-left: 20px;
}
/* .authority_wrap{
    max-width: 1280px;
    margin: 0 auto;
} */
.form_container{
    padding-top: 40px;
    justify-content: space-between;
}

.form_auth{
    width:30%;
    margin-right: 20px;
}
.form-label2{
    text-align: center;
    width:150px;
    padding:9px;
    margin-right: 20px;
}
.form-control2{
    width:150px;
    height:40px;
    margin-right: 20px;
}
.form-control3{
    width:40px;
    height:36px;
}
.form_input{
    /* width:125%; */
    padding: 0 20px;
}
.input_wrap{
    padding:0 0px 30px 0px;
    justify-content: space-between;
}
.p_table{
    text-align: center;
}
.submit_wrap{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.noScroll{
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.scroll_wrap{
    height: 300px;
    overflow-y: scroll;
}
.t_start{
    text-align: start;
}

.err-wrap{
    width: 50%;
    padding-right: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.disabled>input[type="radio"]:checked{
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    border: solid 1px red;
    position: relative;
}
.disabled>input[type="radio"]:checked::before{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: red;
    transform: translate(-50%, -50%);
}

.check-wrap{
    align-items: center;
}
.disabled>input[type="checkbox"]:checked{
    appearance: none;
    width: 36px;
    height: 36px;
    background-color: red;
    border-radius: 2px;
    position: relative;
  
}
.disabled>input[type=checkbox]:checked:disabled::after {

    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    display: block;
    width: 26px;
    height: 13px;
    border: 6px solid white;
    border-right-width: 0px;
    border-top-width: 0px;
    transform: translate(-50%, -50%) rotate(-50deg);
    font-size: 20px;

}

.noLine{
    border-radius: 2px;
    border: 1px solid #ddd;
}

