.linkWrap{
    position: relative;
}
.linkWrap>.linkCode{
    z-index: 11;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    text-decoration: none;
    border: none;
}
.linkWrap>.linkName:hover{
    background-color: inherit;
}
.linkCode{
    width: 100%;
}
.authorityLinks{
    width: 100%;
    padding-left: 20px;
    text-align: start;
}
.room_tr{
    text-align: center;
    vertical-align: middle;
}

.links{
    vertical-align: middle;
    text-align: center;
}

.room_type_wrap{
    margin-bottom: 10px;
}
.room_type_wrap>.form-label{
    width: 150px;
}
.room_type_wrap>input[type="text"]{
    width: 300px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px 13px;
}
.form_room_type{
    padding-top: 40px;
    width: 100%;
}
.disabled_real{
    background: #eee;
    /* display: none; */
}
.disabled_real>option{
    display: none;
}